.upper-container-step-one {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  height: 120vh;
}

.step-one-title {
  margin: 40px 0;
}

.step-one-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-one-button-section {
  margin: 54px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
