.upper-container-welcome {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  height: 120vh;
}

@media (min-width: 769px) {
  .upper-container-welcome {
    height: 100vh;
  }
}


.container-title {
  margin: 40px 0;
}

.container-body {
  margin-bottom: 73px;
}

.container-large {
  margin-bottom: 30px;
}

.container-form {
  margin: 20px 0;
}

.container-button {
  margin-bottom: 113px;
}
